<h1 class="font-monospace text-center">Here are your Active Tasks</h1>

<div style="display: flex; flex-wrap: wrap;">
  <% @current_agent_tasks.each do |task| %>
    <div class ="col-4 p-3 d-flex flex-column justify-content-center align-items-center">
      <%= image_tag url_for(task), class: "image border border-4 ms-1 border border-dark" %>
      <div class="ms-1">
        <div>
          <%= link_to "rate this image", image_page_path(id: task.id), class: "btn btn-dark", method: :get %>
        </div>
      </div>
    </div>
  <% end %>
</div>


