<h1 style="text-align: center">Tasks</h1>

<div class="d-flex p-2">
  <div>
    <%=link_to "Active task", task_active_tasks_path, :class => 'btn btn-dark' %>
  </div>
  <div>
    <%=link_to "Finished task", task_finished_tasks_path, :class => 'btn btn-dark' %>
  </div>
</div>




