<h1 style="text-align: center">Tasks</h1>

<div>
  <p>
  <strong><%=link_to "Active task", task_active_tasks_path, :class => 'nav-link active' %></strong>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
  <strong><%=link_to "Finished task", task_finished_tasks_path, :class => 'nav-link active' %></strong>
  </p>
</div>

