<h1 class="font-monospace text-center">See each agent's finished work</h1>

<div>
  <% @agents.each do |agent| %>
    <% if agent.admin == false %>
      <div>
        <%=link_to agent.email, show_agent_path(agent)%>
      </div>
    <%end %>
  <% end %>
</div>