<p class="navbar-text float-right">
  <% if agent_signed_in? %>
      Logged in as <strong><%= current_agent.email %></strong>.
  <% end %>
  <br/>
</p>

<div>
  <div>
    <%= image_tag("image/image2.jpg", class: "circle circle-1") %>
    <br/>
    <%= image_tag("image/image4.jpg", class: "circle circle-2") %>
    <%= image_tag("image/image1.jpg", class: "circle circle-3") %>
  </div>
</div>

<div>

</div>

